%div{:id => "header"}
  %div{:id => "hImgLeft"}
    %a{:href => "http://hpp-sp.com", :target => "_blank"}
      %img{:src => image_path("logo.jpg"), :height=>"78"}
  %div{:id => "hImgRight"}
    %a{:href => "http://bioinfo.cnb.csic.es", :target => "_blank"}
      %img{:src => image_path("logos_portada_es.png"), :height=>"109"}
