dashboard/crash.log
dashboard/dataTree.marshal
dashboard/output/
dashboard/output/*
dashboard/tmp/
dashboard/tmp/*
dashboard/.gitignore


dashboard_rails/bin/
dashboard_rails/bin/*
dashboard_rails/Capfile
dashboard_rails/data/
dashboard_rails/data/*
dashboard_rails/dataTree.marshal
dashboard_rails/db/
dashboard_rails/db/*
dashboard_rails/Gemfile.lock
dashboard_rails/lib/
dashboard_rails/lib/*
dashboard_rails/.bundle
dashboard_rails/log/*.log
dashboard_rails/tmp
dashboard_rails/.gitignore
dashboard_rails/output.sql
dashboard_rails/salida
dashboard_rails/scriptPE2_microarr.rb
dashboard_rails/scriptPE2.rb
dashboard_rails/public/tmpQuery/
dashboard_rails/public/tmpQuery/*
